<div id="<%= dom_id story %>">
  <p>
    <strong>Title:</strong>
    <%= story.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= story.description %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= story.language %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= story.category %>
  </p>

  <p>
    <strong>User:</strong>
    <%= story.user_id %>
  </p>

</div>
